html{
    font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}



 section {
  height: 100vh; /* کل ارتفاع صفحه */
  width: 100%;
  scroll-snap-align: start; /* برای هم‌ترازی نرم هنگام اسکرول */
  box-sizing: border-box;
  max-width: 100%;

}
/* @media (max-width: 768px) {
  section {
    height: auto;
    padding: 4rem 2rem;
  }
} */


body {
  scroll-snap-type: y mandatory;
  overflow: scroll;
  margin: 0;
}
 html, body {
  overflow-x: hidden;
}


.header{
   gap: 2rem;
   align-self: center;
   justify-self: center;
   align-content: center;
   align-items: center;
   align-self: center;
   justify-content: center;
   justify-items: center;
   height: 100%;

}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://i.postimg.cc/4yPT0XXr/menuu.jpg) center/cover no-repeat;
    filter: blur(2px)  brightness(0.7);
    z-index: -1;
}
.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  z-index: -1;
}



.header div{
   font-family: 'Great Vibes', cursive;
   height: 3rem;
   width: 20%;
   background-color: #e16868;
   font-weight: 700;
   font-size: x-large;
   color:aliceblue ;
   align-self: center;
   justify-self: center;
   align-content: center;
   align-items: center;
   justify-content: center;
   justify-items: center;
   gap: 1rem;
   margin: 1.5rem;
   border-radius: 1rem;

}

.header div a {
    color:white;
    text-decoration: none;
    display: block;
    align-self: center;
   justify-self: center;

}
/* @media (max-width: 768px) {
  .header div {
    width: 80%;
    font-size: 1.8rem;
  }
} */



.starter ul li h1 {

   font-family: 'Great Vibes', cursive;
   font-size:x-large;
   color: aliceblue;
   margin-bottom: 1rem;
}
.dessert ul li h1 {

   font-family: 'Great Vibes', cursive;
   font-size:x-large;
   color: aliceblue;
   margin-bottom: 1rem;
}

.main-course ul li h1 {

   font-family: 'Great Vibes', cursive;
   font-size:x-large;
   color: aliceblue;
   margin-bottom: 1rem;
}

.starter ul li{
   font-family: 'Great Vibes', cursive;
   font-size:large;
   color: aliceblue;

}
.main-course ul li{
   font-family: 'Great Vibes', cursive;
   font-size:large;
   color: aliceblue;
   /* margin-bottom: 2rem; */
}



.main-course ul li p{
   font-family: 'Great Vibes', cursive;
   font-size:large;
   color: aliceblue;
}

.dessert ul li p{
   font-family: 'Great Vibes', cursive;
   font-size:large;
   color: aliceblue;
}




.divider {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.divider hr {
  flex: 1;
  height: 1px;
  background-color: #999;
  border: none;
}

.divider span {
  font-family: 'Great Vibes', cursive;
  font-weight: 700;
  font-size: x-large;
  color:aliceblue ;
}

.main-course ul li{
   font-family: 'Poppins', sans-serif;
   font-size: x-large;
   color: aliceblue;
}

 .starter,.main-course,.dessert, .header {
  position: relative;
  overflow: hidden;
  color: white; /* برای وضوح متن */
  padding: 3rem;
}

/* ایجاد یک لایه قبل از محتوا برای افکت بلور */
.starter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://i.postimg.cc/xdfLrRyS/breshte.jpg) center/cover no-repeat;
  filter: blur(2px)  brightness(0.7);
  z-index: -1; /* می‌فرسته پشت متن‌ها */
}
.starter::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  z-index: -1;
}



 .main-course::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://i.postimg.cc/4yDprRw9/sadaf.jpg) center/cover no-repeat;
  filter: blur(2px)  brightness(0.7);
  z-index: -1; /* می‌فرسته پشت متن‌ها */
 }
 .main-course::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  z-index: -1;
}


.dessert::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://i.postimg.cc/CL8GbdL9/pan.jpg) center/cover no-repeat;
    filter: blur(2px)  brightness(0.7);
    z-index: -1;
}
.dessert::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  z-index: -1;
}

   @media (max-width: 768px)  {
  section {
    height: auto;
    padding: 2rem 1rem;
  }
  .header div {
    width: 80%;
  }
  ul {
    flex-direction: column;
    gap: 2rem;
  }
}

@media(min-width:768px){
    section{
        height: 100%;
        padding: 4rem , 2rem;
    }

    ul{
        flex-direction: column;
        gap: 4rem;
    }

}
